
<% @todo_lists.each do |td|%>
<div class="index_row_clearfix">
<h2 class="todo_list_title">
<%= link_to td.title, td%>
</h2>
<p class="todo_list_sub_title">
<%= td.description %>
</p>
</div>

<%end%>


<div class="links">
<%= link_to "New Todo List", new_todo_list_path %>
</div>
